<html>
<head>
    <meta charset="uft-8">
    <title> Favorites </title>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Unicase:400, 700" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/script.js"></script>
</head>

<body>
    <center>
      <header>
          <center>
            <h1> Mimi's Bar </h1>
          </center>
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/favorites">Favorites</a></li>
                <li><a href="/signIn">Sign In/ Sign Up</a></li>
            </ul>
      </header>
    </center>

  <center>
  <div id="container">
        <div class="result">
          {{#drinks}}
            <div id="stopper"></div>
            <div class="fname">{{drink_name}} </div><br>
             <div class="fav_img"
             nam ="{{drink_name}}"
             ing1="{{ing1}}"
             ing2="{{ing2}}"
             ing3="{{ing3}}"
             mes1 = "{{mes1}}"
             mes2 = "{{mes2}}"
             mes3 = "{{mes3}}"
             ins = "{{instructions}}"
             drink_id = "{{id}}"
             drink_img= "{{image}}" style="background-image: url({{image}});" > </div><br>
             <div>{{ing1}}   {{mes1}} <br>
             {{ing2}}   {{mes2}} <br>
             {{ing3}}   {{mes3}} <br>
             {{instructions}} </div><br>
             <center><div class="delete">DELETE</div></center>
          {{/drinks}}
        </div>
    </div>
    </center>
</body>
</html>
