<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8">
    <title> Mimi's Bar </title>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Unicase" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/script.js"></script>
</head>

<body>
    <center>
      <header>
            <h1> Mimi's Bar </h1>
            <form id="form" method="get">
                <input id="search" type="text">
                <button id="submit" type="submit"> Search</button>
            </form>

            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/favorites">Favorites</a></li>
                <li><a href="/signIn">Sign In/ Sign Up</a></li>
            </ul>
      </header>
    </center>

  <center>
  <div id="container">
        <div class="result">
          {{#data}}
            <h4 class="find"
             find_img="{{strDrinkThumb}}"
             nam ="{{strDrink}}"
             ing1="{{strIngredient1}}"
             ing2="{{strIngredient2}}"
             ing3="{{strIngredient3}}"
             mes1 = "{{strMeasure1}}"
             mes2 = "{{strMeasure2}}"
             mes3 = "{{strMeasure3}}"
             ins = "{{strInstructions}}">{{strDrink}} </h4><br>
             <div class="img" style="background-image: url({{strDrinkThumb}});"> </div><br>
             {{strIngredient1}}   {{strMeasure1}} <br>
             {{strIngredient2}}   {{strMeasure2}} <br>
             {{strIngredient3}}   {{strMeasure3}} <br>
             {{strInstructions}} <br>
          {{/data}}
        </div>
    </div>
</center>
</body>
</html>
